<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zétton.net</title>
</head>

<body>
    <script src="./js/navbar.js"></script>
    <div class="row">
        <div class="column">
            <img src="./images/books/IMG-7754.jpg"  class="image">
            <img src="./images/books/IMG-7759.jpg"  class="image">
            <img src="./images/embroidery/Canvas.jpg"  class="image">
            <img src="./images/books/IMG-7758.jpg"  class="image">
            <img src="./images/books/IMG-7757.jpg"  class="image">
        </div>
        <div class="column">
            <img src="./images/books/IMG-7754.jpg"  class="image">
            <img src="./images/books/IMG-7759.jpg"  class="image">
            <img src="./images/embroidery/Canvas.jpg"  class="image">
            <img src="./images/books/IMG-7758.jpg"  class="image">
            <img src="./images/books/IMG-7757.jpg"  class="image">
        </div>
        <div class="column">
            <img src="./images/books/IMG-7754.jpg"  class="image">
            <img src="./images/default/book_icon_s.jpg"  class="image">
            <img src="./images/default/book_icon_s.jpg"  class="image">
            <img src="./images/books/IMG-7759.jpg"  class="image">
            <img src="./images/embroidery/Canvas.jpg"  class="image">
        </div>
        <div class="column">
            <img src="./images/books/IMG-7754.jpg"  class="image">
            <img src="./images/default/book_icon_s.jpg"  class="image">
            <img src="./images/default/book_icon_s.jpg"  class="image">
            <img src="./images/books/IMG-7758.jpg"  class="image">
            <img src="./images/books/IMG-7757.jpg"  class="image">
        </div>

    </div>

    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/main.js"></script>
</body>

</html>